html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -- styles for textbox overlays with image background */
#landing > .textbox-overlay {
    padding: 3em 3em;
    box-sizing: border-box;
}

#landing > .textbox-overlay h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.25em;
    font-weight: 400;
    text-align: center;
}

.textbox-background {
    width: 100%;
    position: relative;
}

.textbox-overlay {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 1em 3em;
    text-align: center;
    box-sizing: border-box;
}

.textbox-overlay h2 {
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 175%;
}

.textbox-overlay p {
    font-family: 'Inter', sans-serif;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 175%;
}

.textbox-background img {
    width: 100%;
    min-height: 500px;
    max-height: 700px;
    object-fit: cover;
}

blockquote {
    font-size: 1.35em;
    font-style: italic;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    color:#05668D;
}

.text blockquote p {
    font-weight: 400;
}

#timeline {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding-bottom: 2em;
    padding-top: 1em;
}

/* -- styles for introduction bar graph -- */

#intro-graph-container {
    width: calc(100% + 2.5em);
    height: 25em;
    transform: translateX(-2.5em);
    display: flex;
}

#intro-graph-title {
    padding-bottom: 0;
    margin-bottom: 0.35em;
    font-weight: 600;
}

.bar {
    fill: #084080;
}

.graph2-bar {
    fill: #276f7c;
}

#intro-graph-container text {
    font-family: 'Inter', sans-serif;
}

#intro-graph-container text.axis-label {
    font-weight: 600;
}

#intro-graph-container .tick text {
    font-size: 12px;
}

#intro-graph-container .x-axis .tick text {
    font-size: 16px;
}

/* -- styles for main text sections -- */
.text {
    width: 50%;
    margin: auto;
}

.text h2 {
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 175%;
    padding-top: 1em;
}

.text p {
    font-family: 'Inter', sans-serif;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 175%;
}

.textbox-main img {
    max-width: 100%;
}

.textbox-main {
    padding: 2em 0;
    margin-bottom: 1em;
}

#map1-census-toggle, #map2-census-toggle {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: 1em 5em;
    border: 1px solid #7c7d82;
    border-radius: 8px;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 0.85em;
}

.map1-toggle-option, .map2-toggle-option {
    padding: 0.15em 0.5em;
    cursor: pointer;
    background-color: #dfdfdf;
    color: #7c7d82;
    /* transition: background-color 0.3s; */
}

.map1-toggle-option.active, .map2-toggle-option.active {
    background-color: #54565C;
    color: white;
}

/* -- styles for interactive maps -- */
.visualization-container {
    width: 100%;
    height: 100vh;
}

.map-container {
    width: 100%;
    height: 80%;
    position: relative;
}

.map {
    width: 100%;
    height: 100%;
}

.legend {
    line-height: 18px;
    color: #555;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.legend-title {
    margin: 0;
    padding-bottom: 0.75em;
    font-weight: 600;
    max-width: 10em;
}

.leaflet-popup-pane {
    z-index: 1000;
}

.leaflet-popup {
    z-index: 100000 !important;
    position: fixed;
}

.leaflet-popup-content p {
    position: relative;
    margin: 0 !important;
    padding: 0.25em 0;
}

#custom-popup {
    background-color: #54565C;
    min-width: 50px;
    min-height: 20px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 0.85em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    z-index: 10001;
}

/* -- styles for interactive map prompts -- */
.visualization-prompt {
    min-height: 10em;
    height: 20vh;
    background-color: #54565C;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.visualization-prompt h2 {
    text-align: center;
    padding: 1em 0.15em;
    margin: 0; 
    line-height: 215%;
    width: 75%;
    margin: auto;
    color: #FFFFFF;
    font-weight: 300;
}

.dropdown, .dropdown-1{
    position: relative;
    display: inline-block;
}

button * {
    pointer-events: none;
}

.dropdown-button {
    color: white;
    border: solid 1px #788A96;
    border-radius: 2em;
    box-shadow: 0px 2px 4px 1px rgba(84, 86, 92, 0.30);
    background-color: #63666C;
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0 1em;
    margin: 0 0.35em;
}

.arrow {
    border: solid white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 0.15em;
    transition: transform ease-in-out 0.3s;
    display: block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.active.arrow {
    transform: rotate(225deg);
}

.dropdown-button:hover {
    background-color: #7b7e83;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    margin-top: 0.15em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1001;
    border-radius: 0.75em;
    overflow: hidden;
    font-size: 0.75em;
    width: auto;
    margin: 0.25em 0.35em;
}

.dropdown-content span {
    color: #63666C;
    padding: 0.75em 1.5em;
    text-decoration: none;
    display: block;
    cursor: pointer;
    border-bottom: solid thin rgb(233, 233, 233);
    line-height: normal;
}

.dropdown-content span:hover {
    background-color: #e9e9e9;
}

.selected-option {
    font-weight: 600;
}

.force-break-map1::before {
    content: "";
    display: block;
}

.force-break::before {
    content: "";
    display: block;
}

#appendix-toggle {
    width: 100%;
    height: 5em;
    background-color: #54565C;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.25em;
    border-bottom: solid 1px rgb(180, 177, 177);
}

#appendix-toggle:hover {
    background-color: #5a5c61;
    cursor: pointer;
}

#appendix-arrow {
    display: inline-block;
    margin-left: 1em;
    font-size: 0.35em;
    transition: transform 0.3s ease;
}

#appendix-arrow.rotate {
    transform: rotate(180deg);
}

#appendix {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
}

#appendix.show {
    max-height: 100vh;
    opacity: 1;
}

/* -- media queries to control responsiveness */
@media (min-width: 1770px) {
    .force-break::before {
       display: none;
    }
}

@media (max-width: 1150px) {
    .force-break::before {
       display: none;
    }

    .visualization-prompt h2 {
        margin: 0;
        width: 100%;
    }

}

@media (max-width: 1000px) {
    .textbox-overlay {
        width: 70%;
    }

    .text {
        width: 70%;
    }
}

@media (max-width: 890px) {
    .visualization-prompt {
        display: flex;
        align-items: center;
    }
    .visualization-prompt h2 {
        font-size: 1.25em;
    }
}

@media (max-width: 800px) {
    #landing > .textbox-overlay h1 {
        font-size: 1.5em;
    }

    .textbox-overlay h2 {
        font-size: 1.25em;
    }

    .textbox-overlay p, #appendix-toggle {
        font-size: 1em;
    }

    .text h2 {
        font-size: 1.25em;
    }

    .text p {
        font-size: 1em;
    }

    blockquote {
        font-size: 1.15em;
    }
}

@media (max-width: 750px) {
    .visualization-prompt h2 {
        font-size: 1em;
    }

    .visualization-prompt {
        min-height: 6em;
    }
}

@media (max-width: 600px) {
    #landing > .textbox-overlay {
        padding: 2em 2em;
    }

    #landing > .textbox-overlay p, #appendix-toggle {
        font-size: 0.9em;
    }

    .textbox-overlay {
        padding: 1em 2em;
    }

    .text h2 {
        font-size: 1em;
    }

    .visualization-prompt h2 {
        font-size: 0.8em;
    }
}
